{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <section class="services-section">
  <h2>Our Services</h2>
  <div class="services-grid">
    <div class="service-card">
      <h3>Data Analysis</h3>
      <button class="poc-btn">POC Button</button>
    </div>
    <div class="service-card">
      <h3>Chat Bot</h3>
      <button class="poc-btn">POC Button</button>
    </div>
    <div class="service-card">
      <h3>Web Development</h3>
      <button class="poc-btn">POC Button</button>
    </div>
    <div class="service-card">
      <h3>Mobile App Development</h3>
      <button class="poc-btn">POC Button</button>
    </div>
    <div class="service-card">
      <h3>Desktop App Development</h3>
      <button class="poc-btn">POC Button</button>
    </div>
    <div class="service-card">
      <h3>Internship Program</h3>
      <button class="poc-btn">POC Button</button>
    </div>
  </div>
</section>


</div>
{% endblock %}
