{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Our Blogs</h2>
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                {% if blog.image %}
                <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p><small>By {{ blog.author }} | {{ blog.created_at|date:"M d, Y" }}</small></p>
                    <p class="card-text">{{ blog.content|truncatechars:120 }}</p>
                    <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
